$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(98%, 98%, 98%);
$fontfamily: "Montserrat", sans-serif;


.title {
  font-family: "Montserrat", sans-serif;
  color: #FB582F;
  font-weight: bold;
  font-size: 36pt;
  text-align: center;
}


.h1 {
  font-family: "Montserrat", sans-serif;
  font-size: large;
  text-align: center;
}

#search-bar {
  margin-bottom: 20px;

  input {
    font-size: 1.5em;
    border-radius: .25em;
  }
}

#video-detail {
  width: 100%;
}

#video-section {
  display: flex;

  li {
    list-style: none;
    cursor: pointer;
    display: flex;
    width: 25vw;
    padding: 20px;
  }
  li:hover {
    background: darken( $backgroundcolor, 10% );
  }

}

.active {
  color: pink;
}

.container {
  color: #4A4A4A;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 20px;
}

.item {
  order: 1;
  
}