$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(98%, 98%, 98%);
$fontfamily: "Montserrat", sans-serif;

.image{
  width:100%;
  padding-top: 200 px;
}

.title {
  font-family: "Montserrat", sans-serif;
  color: #FB582F;
  font-weight: bold;
  font-size: 36pt;
  text-align: center;
}
.navBar{
  background-color: white;
  color:#ff5722;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 100px;
}

.titleBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 87, 34);
  height:400px;

}
.mainPage{
  display: flex;
  flex-direction: column;
  margin: 40px;

}

.imagine{
  font-family: "Pacifico", sans-serif;
  font-size: 24px;
  color:rgb(255, 87, 34);
  margin-top: 200px;
  margin-bottom: 100px;
  font-weight: bold;
  font-style: italic;
  align-items: center;
  justify-content: center;
  right: 50%;
  text-align: center;
}
.appDesc{
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgb(255, 87, 34);
  padding:100px;
}
.topBox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .reasonBox{
    width: 30%;
    color:orange;
    &:hover{
      color: blue;
    }
    &:active{
      color: green;
    }

  }
}
.basicTextBold{
  color:rgb(255, 87, 34);
  display: flex;
  justify-content: 'center';
  align-items: center;
  font-weight: bold;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}
.basicTextBoldWhite{
  color:white;
  display: flex;
  justify-content: 'center';
  align-items: center;
  font-weight: bolder;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.basicText{
  color:rgb(255, 87, 34);
  font-weight: lighter;
  display: flex;
  justify-content: 'center';
  align-items: center;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}
.basicTextWhite{
  color:white;
  display: flex;
  justify-content: 'center';
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
#search-bar {
  margin-bottom: 20px;

  input {
    font-size: 1.5em;
    border-radius: .25em;
  }
}

#video-detail {
  width: 100%;
}

#video-section {
  display: flex;

  li {
    list-style: none;
    cursor: pointer;
    display: flex;
    width: 25vw;
    padding: 20px;
  }
  li:hover {
    background: darken( $backgroundcolor, 10% );
  }

}

.active {
  color: pink;
}

// .container {
//   color: grey;
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
//   justify-content: center;
//   align-content: center;
// }

.item {
  order: 1;
  
}